<h3 class='post-body'>
    <%= @post.title %>
</h3>

<div class='post-body'>
    <%= @post.body %>
</div>

<div class='delete-button'>
    <%= button_to "Delete", @post, :method => :delete %>
</div>

<hr>

<h2>Comments</h2>
<%= render 'comments/form' %>


